name: Flake8
on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *" # 3 AM CET
  push:
  pull_request:
jobs:
  flake8:
    name: Flake8 Syntax Check
    runs-on: [self-hosted, docker]
    container:
      image: steinwurf/flake8:4
      options: --user 0:0
      volumes:
        - /home/buildbot/.ssh:/root/.ssh
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: Check python syntax
        run: flake8 . --count --ignore F632 --select=E9,F63,F72,F82 --show-source --statistics
